$primary-100: #15191b;
$primary-200: #181d20;
$primary-300: #22292c;
$primary-400: #191d20;
$primary-500: #202427;
$primary-600: #2c3236;
$primary-700: #363e44;
$primary-800: #4f5a62;

$accent-300: #2a6b83;
$accent-400: #3c87a3;
$accent-500: #4b99b6;

$box-shadow-default: 3px 3px 5px $primary-300;

// Text-Colors
$text-faded: #ffffff2b;
$text-normal: #ccd0d2;
// Font-Families

$font-title: 'Segoe UI', sans-serif;
$font-body: 'Segoe UI', sans-serif;
$font-input: 'Segoe UI', monospace;

// Radius
$border-radius-xs: 3px;
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 14px;
$border-radius-full: 9999px;

// Z-Index
// $z-index-drop-area: 60;
// $z-index-window: 70;
// $z-index-modal: 80;
// $z-index-toast: 90;
// $z-index-right-click-menu: 100;
